/*fotter*/
footer{
    &.site-footer{
        @media screen and (min-width:360px){
            height: 45vh;
        }
        @media screen and (min-width:768px){
            height: 30vh;
        }
        .iconos{
            color: white;
            font-size: 20px;    
        }   
    }
}
/*display de los iconos*/
.iconos i:hover {
    color: aqua;
}
.enlacesPie{
    @media screen and (min-width:360px){
        display: flex;
        flex-direction: column;
    }
    @media screen and (min-width:768px){
        display: flex;
        flex-direction: row;
    }
}
.btnWhatsapp{
    position: fixed;
    width: 80px;
    height: 80px;
    line-height: 80px;
    bottom: 30px;
    right: 30px;
    background-color: green;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 40px;
}