/*header*/
*{
    text-decoration: none;
    box-sizing: border-box;  
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    list-style: none; 
}
.imgLogo{
    @media screen and (min-width:360px){
        width: 100px;
    }
    @media screen and (min-width:768px){
        width: 120px;
    }
    @media screen and (min-width:1024px){
        width: 150px;
    }
}
