/*container de instrumentos*/
$gradienteSubtitulo: linear-gradient(
    45deg
    ,green, transparent);

    
.gradiente{
    background-image:$gradienteSubtitulo;
    .instrumentos__gradiente{
        color:white;
        padding: 50px;
        text-align: center;
        font-size: 30px;
        font-family:'Alfa Slab One', cursive;
        letter-spacing: 2px;  
        margin-top: 20px; 
    }
}

.instrumentos{
    display: grid;
    justify-content: center;
    grid-column-gap: 50px;
    justify-items: center;
    margin-top: 40px; 
    @media screen and (min-width:360px){
        display: grid;
        grid-template-columns: 0px;
    }
    @media screen and (min-width:768px){
        display: grid;
        grid-template-columns: 300px 300px;
    }
    @media screen and (min-width:1024px){
        display: grid;
        grid-template-columns: 300px 300px 300px;
    }
    .instrumentos__caja{
        box-shadow:0px 4px 20px black ;
        margin-bottom: 20px;
        transition: all 1s; 
        border-radius: 10px;  
    }
    img{
        &.scale{
            padding: 20px;
        }
    }
    ol{
        &.containerDescripcion{
            background-color:gray;
            border-radius: 20px;
        }
    }
}
/*efecto imagen*/

.instrumentos{
    .instrumentos__caja :hover{
        border-color: red;
        img{
            &.scale{
                transform: scale(1.15);
            }
        }
    }
}
.instrumentosModal:hover{
    transform: scale(1.05);
}