/*main del index*/
$boxMargin:20px 25px 40px;
$marginBtn:30px;
$colorText:red;
main{
    &.margen{
        @media screen and (min-width:360px){
            margin-top: 150px;
        }
        @media screen and (min-width:768px){
            margin-top: 160px;
        }
        @media screen and (min-width:1024px){
            margin-top: 200px;
        }
    }
    .banners{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: $boxMargin;
        @media screen and (min-width:360px){
         display: flex;
         flex-direction: column;
         align-items: center;
         margin-top: 20px;
        }
        @media screen and (min-width:768px){
            display: flex;
            flex-direction: row;
            margin-right: 25px;
        }
        a{
            img{       
                &.imgBanner{
                    margin-right: 20px;
                    @media screen and (min-width:360px){
                        margin-top: 20px;
                    }
                    @media screen and (min-width:768px){
                        margin-right: 10px;
                    }
            
                }
            }
        }   
    }
    .productos{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 250px;
        @media screen and (min-width:360px){
            margin-top: 20px;
        }
        @media screen and (min-width:1024px){
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-top: 50px;
        }
        @media screen and (min-width:1880px){
            margin-top: 20px;
        }

        .productos__imagenes{
            display: flex;
            flex-direction: column;
            img{
                &.img{
                    margin-bottom:$marginBtn;
                }
            }
        }
        .productos__videos{
            @extend .productos__imagenes;
            iframe{
                &.iframe{
                    margin-bottom: $marginBtn + 46;
                }
            }
            @media screen and (min-width:768px){
                margin-left: 20px;
            } 
        }
        @media screen and (min-width:360px){
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        @media screen and (min-width:1024px){
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
    .contenedor{
        background-color: white;
    }
}

/*seccion de info*/
section{
    .info{
        background-color: white;
        box-shadow: 0px 4px 20px black;
        padding:20px;
        margin: 30px 20px;
        h2{
            &.info__textoSubrayado{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                color:$colorText;
            }
        }
    }
}

/*info display*/
.info{
    @extend .info;
    i{
        font-size: 40px;
        color:black;   
    }
}
.info{
    i:hover{
        color:green;
        transform: scale(1.1);
        transition: all ease-in-out .2s;
    }
}
